@import "tailwindcss";

@theme inline {
  --color-primary: #f4ece6;
  --color-primary-foreground: #2d2621;
  --color-secondary: #e6e8e6;
  --color-secondary-foreground: #2d2a2a;
  --color-accent: #f2e2e4;
  --color-accent-foreground: #4a3e3e;
  --color-background: #faf9f7;
  --color-foreground: #36322e;
  --color-muted: #fefdfb;
  --color-muted-foreground: #8c8273;

  --color-sage: #9eab93;
  --color-lavender: #d6cfdc;
  --color-rose: #dfb2ad;
  --color-ivory: #faf9f7;

  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
  
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    box-sizing: border-box;
    border: 0 solid currentColor;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    @apply font-sans antialiased selection:bg-rose selection:text-white;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-serif tracking-tight text-foreground;
  }
}

@layer utilities {
  .glass {
    @apply bg-white/70 backdrop-blur-md border border-white/20 shadow-sm;
  }
  
  .text-balance {
    text-wrap: balance;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
